.layout-builder-block--unpublished {
  position: relative;
}
.layout-builder-block--unpublished:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
  opacity: 0.5;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .layout-builder-block--unpublishedr:before {
    opacity: 0.3;
  }
}
.layout-builder-block--unpublished:after {
  content: "UNPUBLISHED";
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: auto;
  right: 50%;
  margin-right: -228px;
  margin-top: -44px;
  z-index: 2;
  color: #FF0000FF;
  line-height: 60px;
  font-size: 60px;
  font-weight: bold;
  padding: 10px;
  width: auto;
  text-align: center;
  height: auto;
  background-color: #000000;
  opacity: 0.9;
  border: 4px solid #FF0000FF;
  pointer-events: none;
  transition: all 0.5s ease-in-out;

}
@media only screen and (max-width: 767px) {
  .layout-builder-block--unpublished:after {
    font-size: 20px;
    line-height: 20px;
    margin-right: -86px;
    margin-top: -24px;
  }
}
.layout-builder-block--unpublished:hover:before {
  opacity: 0;
}
.layout-builder-block--unpublished:hover:after {
  right: 0;
  top: 0;
  margin: 0;
  width: auto;
  transform: rotate3d(0, 0, 1, 45deg) translate3d(28%, 25px, 0);
  font-size: 25px;
  line-height: 25px;
  padding: 5px;
  color: #FF0000FF;
  border: 2px solid #FF0000FF;
}
